.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2em;
  font-size: 1.5em;
}

.arrow {
  margin: 0 1em;
  color: red;
  font-weight: 900;
  cursor: pointer;
}

.option {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1em;
}

.submit {
  border: none;
  background-color: green;
  font-size: 15px;
  color: white;
  padding: 0.5em 1em;
  font-weight: bolder;
  width: 20%;
  margin: auto;
}

.questions {
  border: 2px solid black;
  width: 50%;
  margin: 1em auto;
  padding: 2em;
}

.reviews {
  border: 2px solid black;
  width: 10%;
  margin: 1em;
  padding: 2em;
}

.row {
  display: flex;
}